h1{
    font-size: 60px;
    padding-bottom: 30px;
}
.food{
    color: orange;
}

body{
    font-family: 'Roboto', sans-serif;
}
.intro{
    display: flex;
    
}
.description{
    padding: 60px 0px 40px 40px;
}
p{
    font-size: 25px;
    color: gray;
    padding-bottom: 50px;
}

a{  
    text-decoration: none;
    background-image:linear-gradient(tomato,rgb(255, 174, 0)) ;
    padding: 10px 20px;
    color: white;
    font-weight: 400px;
    border-radius: 20px;
    box-shadow: 5px 7px 13px rgba(255, 99, 71, 0.671);
}
.about-me{
    background-image: url(images/shapes/7.png);
    display: flex;
    
}
.personal-description{
    width: 50%;
}

.picture{
    border-radius: 5px;
}
.vsalad{
    border-radius: 8px;
}
#my-recipies{
    text-align: center;
}
.column{
    float: left;
    width: 20%;
    padding: 15px;
    margin: 80px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 8px ;
}
.first{
    margin-left: 150px;
}
.popularity{
    display: flex;
    box-shadow: 10px 10px 40px gray;    
    margin: 800px 420px 300px 420px;
    padding: 0px 40px ;
    border-radius: 8px ;
    
}
.achievements{
    margin: 20px 20px 20px 20px;
}
.hub{
    color: white;
    margin-left: 30px;
}
.ending{
    padding-top: 40px;
    text-align: center;
    background: black;
}